<!doctype html>
<html lang="ko">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=3.0">
	<meta charset="UTF-8">
	<title> olleh HomeCam | 고객센터 5.3.1 </title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div id="wrap">
	<div class="contents">
		<div class="pannel customerGuide">
			<ul class="list dir">
				<li><a href="#">[카메라 등록] 새 카메라를 추가하고 싶어요.</a></li>
				<li><a href="#">[알람 설정] 알림이 너무 자주 와요.</a></li>
				<li><a href="#">[알람 설정] 알림을 끄고 싶어요.</a></li>
				<li><a href="#">[보관함] 보관함이 보이지 않아요.</a></li>
				<li><a href="#">[로그인] PIN번호를 잃어버렸어요.</a></li>
				<li><a href="#">[카메라 설정] 감지 일정을 변경하고 싶어요.</a></li>
				<li><a href="#">[알람 설정] 알림이 너무 자주 와요.</a></li>
				<li><a href="#">[알람 설정] 알림을 끄고 싶어요.</a></li>
				<li><a href="#">[보관함] 보관함이 보이지 않아요.</a></li>
				<li><a href="#">[로그인] PIN번호를 잃어버렸어요.</a></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>