<!doctype html>
<html lang="ko">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=3.0">
	<meta charset="UTF-8">
	<title> olleh HomeCam | 고객센터 5.3.3 </title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div id="wrap">
	<div class="contents">
		<div class="view customerCenter">
			<ul class="list">
				<li>
					<a href="#">
						<dl>
							<dt>서비스 정기정검 안내 (09.25)</dt>
							<dd>2014.09.23 (월)</dd>
						</dl>
					</a>
				</li>
			</ul>
			<div class="list_detail">
				<p>안녕하세요. 올레 홈캠입니다.<br />시스템 작업으로  아래 시간 동안 서비스 이용이 일시중단됩니다.</p>
				<ul>
					<li class="bu">점검일시 : 2014.09.24 24:00 ~ 2014.09.25 </li>
					<li class="bu">점검내용 : 서비스 정기점검</li>
				</ul>
				<p>이용에 불편을 드려 죄송합니다.<br />보다 나은 서비스로 다가가겠습니다.<br />감사합니다.</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>