<!doctype html>
<html lang="ko">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=3.0">
	<meta charset="UTF-8">
	<title> olleh HomeCam | 고객센터 5.3.5 </title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div id="wrap">
	<div class="contents">
		<div class="view customerGuide">
			<ul class="list">
				<li><a href="#">[카메라 등록] 새 카메라를 추가하고 싶어요.</a></li>
			</ul>
			<div class="list_detail">
				<p>카메라를 추가하시려면 추가하실 카메라 전원을 연결 하신 뒤 메뉴에서 카메라 추가 버튼을 눌러주세요.</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>