<!doctype html>
<html lang="ko">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=3.0">
	<meta charset="UTF-8">
	<title> olleh HomeCam | 고객센터 개인정보 취급방침 5.3.7 </title>
	<link rel="stylesheet" href="/resourcescss/normalize.css">
	<link rel="stylesheet" href="/resourcescss/style.css">
</head>
<body>
<div id="wrap">
	<div class="contents">
		<div class="notify">
			<div class="terms_conditions">
				<p>제1장 총칙
					<br /><br />
					주식회사 케이티(이하 “회사”)가 제공하는 올레 홈캠 서비스(이하 “올레 홈캠”)는 고객의 개인정보를 소중하게 생각하고 고객의 개인정보를 효과적으로 관리하고 안전하게 보호하기 위하여 최선의 노력을 다 하고 있습니다. 올레 홈캠은 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』과 개인정보보호 관련 각종 법규를 준수하고 있습니다. 또한 개인정보취급방침을 제정하여 이를 준수하고 있으며, 본 취급방침을 올레 홈캠 서비스 내 공지사항을 통하여 공개하여 고객께서 언제나 쉽게 열람하실 수 있도록 하고 있습니다.
					<br /><br />
					1. 개인정보란, 생존하는 개인에 관한 정보로서 고객전화번호, 단말 아이디 등에 의하여 당해 개인을 알아볼 수 있는 부호, 문자, 음성, 음향, 영상 및 생체특성 등에 관한 정보(당해 정보만으로는 특정 개인을 알아볼 수 없는 경우에도 다른 정보와 용이하게 결합하여 알아볼 수 있는 것을 포함)를 말합니다.<br />
					2. 올레 홈캠은 고객의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호 등에 관한 법률"에 관한 법률을 준수하고 있습니다.<br />
					3. 올레 홈캠은 개인정보취급방침을 통하여 고객께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.<br />
					4. 올레 홈캠의 개인정보취급방침은 관련 법령 및 내부 운영 방침의 변경에 따라 변경될 수 있습니다. 개인정보취급방침이 변경되는 경우에는 그 이유 및 변경된 내용을 지체 없이 공지합니다.<br />
					5. 올레 홈캠은 개인정보취급방침을 개정하는 경우 올레 홈캠 서비스 App내 공지사항을 통하여 공지합니다.<br />
					<br /><br />
					제2장 개인정보의 수집 및 이용 목적
					<br /><br />
					올레 홈캠은 개인정보의 수집 시 관련법규에 따라 개인정보취급방침에 그 수집범위 및 목적을 사전 고지합니다. 올레 홈캠은 수집한 개인정보를 다음의 목적을 위해 이용합니다.
					<br /><br />
					가. 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산<br />
					나. 서비스 가입/변경/해지 처리, 본인확인, 개인식별, 가입의사확인, 고지사항전달, 서비스제공관련 안내, 이용관련 문의 불만 처리<br />
					다. 회원 관리를 위해 회원제 서비스 이용에 따른 본인확인, 만14세 미만 아동 개인정보 수집 시 법정 대리인 동의여부 확인, 불만처리 등 민원처리, 고지사항 전달<br />
					라. 서비스이용 확인 점검 및 서비스품질 개선<br />
					마. 기타 개인정보취급방침에 고지된 수탁자에게 서비스제공 등 계약의 이행에 필요한 업무의 위탁<br />
					<br /><br />
					제3장 수집하는 개인정보의 항목 및 수집방법
					<br /><br />
					올레 홈캠은 서비스 제공을 위하여 아래와 같이 필요한 최소한의 개인정보만을 수집합니다. 사용자는 개인 정보 수집/이용에 동의하지 않을 권리가 있으며, 미동의시 서비스 이용에 제한이 있습니다.
					<br /><br />
					1. 수집하는 개인정보의 항목<br />
					가. 필수정보<br />
					ㅇ 인터넷전화번호<br />
					ㅇ 서비스 이용 단말기ID<br />
					ㅇ 만 14세 미만 미성년자의 경우 법정대리인의 성명, 생년월일, 연락전화번호, 계약자와의 관계 (단, 만 14세 미만 아동의 개인정보는 법정대리인의 동의 필요)<br />
					ㅇ 서비스 계약 ID<br />
					나. 서비스 이용 또는 업무처리 과정에서 생성되어 수집될 수 있는 정보<br />
					ㅇ 서비스 이용시간/이용기록, 접속로그, 이용컨텐츠<br />
					ㅇ 서비스 문의하기를 이용하여 발신된 이메일 주소<br />
					2. 올레 홈캠은 다음과 같은 방법으로 개인정보를 수집합니다.<br />
					가. 상품 가입을 통한 개인정보(인터넷 전화번호 및 단말 아이디 등)<br />
					나. 고객제안, 문의/불만 등을 위하여 고객께서 제시하신 개인정보 수집<br />
					다. 서비스 이용 또는 업무 처리 과정에서 생성되거나 제휴사로부터의 제공, 생성정보 수집 툴을 통한 수집 등<br />
					<br /><br />
					제4장 개인정보 수집 및 이용 등에 관한 동의방법
					<br /><br />
					1. 고객의 개인정보 수집 시에는 관련 법령의 규정에 따라 개인정보의 수집 이용 목적과 제3자 제공 및 취급을 위탁하고 있는 내용을 고객께 알리고 동의를 얻거나 개인정보취급방침을 통해 고지하고 있습니다.<br />
					2. 올레 홈캠의 '서비스 이용약관' 및 '개인정보취급방침'에 따른 고객의 개인정보 수집, 이용에 대해 고객께서는 아래와 같은 방법 중 하나를 선택하여 동의하실 수 있습니다.<br />
					가. 고객센터(100번, 080-237-7979) 및 기타 전화 등을 통한 전화상담의 경우 상담원으로부터 직접 동의내용의 안내를 받으시거나, 상담원의 안내에 따라 서비스의 App ‘개인정보취급방침'의 동의 내용을 확인하신 후 전화상으로 본인이 동의 의사를 표시하는 방법<br />
					나. 올레 홈캠 서비스 App에 게시된 ‘개인정보취급방침’의 동의내용을 확인하신 후 ‘동의’버튼 또는 ‘동의하지 않음’버튼을 클릭하는 방법 등
					<br /><br />
					제5장 개인정보의 보유 및 이용기간
					<br /><br />
					1. 올레 홈캠은 고객에게 서비스를 제공하는 기간에 한하여 보유 또는 이용되며, 고객이 해지를 요청하는 경우에는 아래 ‘개인정보의 파기절차 및 방법’에 따라 파기됩니다. 다만, 올레 홈캠은 고객의 개별 동의를 받은 경우, 고객이 요금을 미납한 경우, 개인정보 도용 등으로 인한 고객 피해발생시 피해자 보호, 소비자의 불만 및 분쟁 처리 등 관계법령의 규정에 따라 보존의 필요성이 있는 경우에는 아래와 같은 개인정보에 대하여 명시한 기간 동안 보존하는 것으로 합니다.<br />
					가. 해지, 탈퇴 등으로 서비스가 종료되었으나, 상품 또는 서비스의 미납이 존재하는 경우 : 요금 완납시까지<br />
					나. 회사와 고객간 민원, 소송 등 분쟁 과정 중 법률로 정한 보유기간이 경과한 경우 :  분쟁 해결시까지<br />
					다. 회사가 개별적으로 고객의 동의를 받은 경우 : 그 동의 받은 기간까지<br />
					2. 관련 법령에 의한 개인정보 보유 및 사유, 기간<br />
					가. 계약 또는 청약철회 등에 관한 기록:5년(전자상거래 등에서의 소비자보호에 관한 법률)<br />
					나. 대금결제 및 재화 등의 공급에 관한 기록:5년(전자상거래 등에서의 소비자보호에 관한 법률, 국세기본법,법인세법,부가가치세법)<br />
					다. 소비자의 불만 또는 분쟁처리에 관한 기록:3년(전자상거래 등에서의 소비자보호에 관한 법률)<br />
					라. 본인 확인에 관한 기록: 6개월(정보통신망 이용촉진 및 정보보호에 관한 법률)<br />
					마. 사이트 방문에 관한 기록:3년(통신비밀보호법)
					<br /><br />
					제6장 개인정보의 파기절차 및 방법
					<br /><br />
					올레 홈캠은 수집한 개인정보의 이용목적이 달성된 후에는 보관기간 및 이용기간에 따라 해당 정보를 지체없이 파기합니다. 파기대상, 파기절차 및 방법은 다음과 같습니다.
					<br /><br />
					1. 파기대상<br />
					가. 상품가입 정보.<br />
					나. 마케팅, 이벤트 등의 목적을 위하여 수집한 회원가입정보에 포함된 주소와 다른 별도의 배송지 정보<br />
					다. 그 외 보유기간 및 관련법령에 따른 보존기간이 종료된 고객정보<br />
					2. 파기절차<br />
					o 회원이 서비스 가입 등을 위해 기재한 개인정보는 서비스 해지 등 이용목적이 달성된 후 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라 일정기간(개인정보 보관기간 및 이용기간 참조) 동안 저장 보관된 후 삭제되거나 파기합니다.<br />
					3. 파기방법<br />
					o 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.
					<br /><br />
					제7장 개인정보 취급의 위탁
					<br /><br />
					1. 올레 홈캠은 보다 나은 서비스 제공, 고객편의 제공 등 원활한 업무 수행을 위하여 다음과 같이 개인정보 취급 업무를 외부 전문업체에 위탁하여 운영하고 있습니다. 해당 위탁사업자는 계약체결 기간 동안 고객의 개인정보를 보유합니다. 단, 관계법령에서 법정 보유기간을 명시하고 있는 경우는 당해 업체는 해당 기간 동안 보유합니다.<br />
					2. 올레 홈캠은 위탁업무계약서 등을 통하여 개인정보보호 관련 법규의 준수, 개인정보에 관한 비밀유지, 제3자 제공에 대한 금지, 사고시의 책임부담, 위탁기간, 처리 종료 후의 개인정보의 반환 또는 파기 의무 등을 규정하고, 이를 준수하도록 관리하고 있습니다.<br />
					3. 개인정보 취급업무 수탁사 및 위탁내용<br />
					가. kth :  서비스 개발 및 운영, 고객상담, 시스템개발 및 구축, 유지보수(개발 및 운영 위탁계약 종료시 까지)
					<br /><br />
					제8장 이용자 및 법정대리인의 권리와 그 행사 방법
					<br /><br />
					1. 고객은 상품가입 등을 통해 개인정보의 수집, 이용, 제공에 대해 동의하신 내용을 언제든지 철회하실 수 있습니다. 동의 철회(회원탈퇴)를 하고자 할 경우에는 고객센터(100번)에 스마트홈서비스 가입해지를 통해 올레 홈캠 가입해지를 직접 신청하실 수 있습니다.<br />
					2. 올레 홈캠은 고객 또는 고객의 법정대리인이 개인정보에 대한 열람•증명 또는 정정을 요청하는 경우에는 고객의 요청에 성실하게 대응하며, 개인정보에 오류가 있거나 보존기간을 경과한 것이 판명되는 등 정정 또는 삭제할 필요가 있다고 인정되는 경우, 지체 없이 조치합니다.<br />
					3. 법정대리인은 만 14세 미만 아동의 개인정보 수집 • 이용 또는 제공에 대한 동의를 철회할 수 있으며, 만 14세 미만 아동이 제공한 개인정보에 대한 열람 또는 오류의 정정을 요구할 수 있습니다.<br />
					4. 올레 홈캠은 위 2항 및 3항의 경우 다른 법령에서 그 개인정보가 수집 또는 보관의 대상으로 명시되어 있는 경우 등 개인정보에 대한 열람•증명 또는 정정 요청에 대하여 연기 또는 제한•거절할 경우에는 이메일 또는 고객센터를 통하여 그 사유 및 고객 등이 이의를 제기할 수 있는 방법을 알려드립니다.<br />
					5. 유선 또는 서면을 통하여 고객 본인 또는 만 14세 미만 아동인 고객의 법정대리인이 열람, 증명을 요구하는 경우에는 본인 확인 내지 대리관계를 증명하는 위임장 및 인감증명서, 요청인 또는 대리인의 신분증 사본 등의 증표를 제시 받아 진정한 본인 의사와 대리인 여부를 확인합니다.<br />
					6. 고객 또는 법정대리인의 요청에 의해 해지 또는 삭제, 정정된 개인정보는 "개인정보의 보관기간 및 이용기간"에 명시된 바에 따라 처리되고, 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.
					<br /><br />
					제9장 아동의 개인정보보호<br />
					1. 올레 홈캠은 만 14세 미만 아동(이하 '아동')이 제공한 개인정보로 인하여 아동 및 법정대리인이 불이익을 입지 않도록 보호 조치를 취하고 있습니다.<br />
					2. 올레 홈캠은 법정대리인의 동의를 얻기 위하여 법정대리인의 성명, 연락처 등 필요한 최소한의 정보를 요구할 수 있습니다. 이 경우 개인정보의 수집•이용 또는 제공 목적 및 법정대리인의 동의가 필요하다는 취지를 아동이 쉽게 이해 할 수 있는 평이한 표현으로 아동에게 고지 합니다.<br />
					3. 올레 홈캠은 법정대리인의 동의를 얻기 위하여 수집한 법정대리인의 개인정보를 해당 법정대리인의 동의 여부를 확인하는 목적 외의 용도로 이를 이용하거나 제3자에게 제공하지 않습니다.<br />
					가. 14세 미만 가입자 개인정보 수집 절차<br />
					1) 약관 동의<br />
					- 서비스 이용 약관, 개인정보 수집 이용 동의, 개인 정보 취급 위탁 동의<br />
					2) 14세 미만일 경우, 법정 대리인 동의<br />
					3) 법정 대리인 정보 입력<br />
					- 이름, 생년월일, 성별, 휴대전화번호<br />
					- 실명인증기관을 이용한 실명 및 본인인증
					<br /><br />
					제10장 개인정보 자동 수집장치의 설치 운영 및 그 거부에 관한 사항
					<br /><br />
					올레 홈캠은 서비스 운영에 있어 필요 시 고객의 정보를 찾아내고 저장하는 쿠키(Cookie)를 운용합니다. 쿠키란 웹 서버가 웹 브라우저에 보내어 저장했다가 서버의 부가적인 요청이 있을 때 다시 서버로 보내주는 문자열 정보를 말합니다. 고객이 웹사이트에 접속을 하면 고객의 브라우저에 있는 쿠키의 내용을 읽고, 추가정보를 찾아 접속에 따른 성명 등의 추가 입력 없이 서비스를 제공할 수 있습니다.
					<br /><br />
					1. 쿠키에 의해 수집되는 정보 및 이용 목적<br />
					가. 수집 정보 : 단말아이디, 인터넷전화번호, 접속IP, 접속로그, 이용 컨텐츠 등 서비스 이용정보<br />
					나. 이용목적<br />
					ㅇ 고객의 관심분야에 따라 차별화된 정보를 제공<br />
					ㅇ 회원과 비회원의 접속 빈도나 방문 시간 등을 분석하여 이용자의 취향과 관심분야를 파악하여 타켓(Target) 마케팅에 활용(수강한 강의들에 대한 정보와 관심 있게 둘러본 품목들에 대한 자취를 추적하여 다음 번 상품이용 시 개인 맞춤 서비스를 제공, 유료서비스 이용 시 이용기간 안내, 고객들의 습관을 분석 등) 및 서비스 개편 등의 척도로 활용합니다.<br />
					2. 고객은 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서 웹브라우저에서 옵션을 설정함으로써 쿠키에 의한 정보 수집 수준의 선택을 조정하실 수 있습니다.<br />
					가. 웹브라우저의 [설정] > [쿠키 허용]에서 쿠키 사용여부를 선택하거나 [모든 쿠키 데이터 지우기]를 선택하여 쿠키 데이터를 삭제하실 수 있습니다.<br />
					나. 위에 제시된 메뉴를 통해 쿠키가 저장될 때마다 확인을 하거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다. 단, 고객께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.<br />
					다. 쿠키는 브라우저의 종료 시나 로그 아웃 시 만료됩니다.<br />
					<br /><br />
					제11장 개인정보의 기술적, 관리적 보호
					<br /><br />
					올레 홈캠은 고객의 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적•관리적 대책을 마련하고 있습니다.
					<br /><br />
					[기술적 보호대책]<br />
					1. 고객의 개인정보는 외부망에서 접근 및 침입이 불가능하도록 방화벽 시스템등 기술적인 장치를 포함, 기타 내부망을 활용하여 관리되고 있으며, 파일 및 전송데이터를 암호화하거나 파일 잠금기능(Lock)을 사용하여 중요한 데이터는 보안기능을 통해 철저하게 보호되고 있습니다 .<br />
					2. 올레 홈캠은 개인정보처리 시스템 및 개인정보취급자가 개인정보 처리에 이용하는 정보기기에 컴퓨터바이러스, 스파이웨어 등 악성 프로그램의 침투 여부를 항시 점검•처리할 수 있도록 백신프로그램을 설치하여 개인정보 침해를 방지하기 위한 조치를 취하고 있습니다. 또한, 백신프로그램은 주기적으로 업데이트되며 갑작스런 바이러스가 출현할 경우 백신이 나오는 즉시 이를 적용함으로써 개인정보가 침해되는 것을 방지하고 있습니다.<br />
					3. 올레 홈캠은 암호알고리즘 등의 이용을 통하여 네트워크상에서 개인정보를 안전하게 전송할 수 있는 보안장치를 채택하고 있습니다.<br />
					4. 해킹 등 외부침입에 대비하여 침입차단시스템 및 침입탐지시스템을 운영하여 사내 네트워크를 보호하고, 시스템 접근 권한의 주기적 변경을 통해 보안을 강화하고 있습니다.
					<br /><br />
					[관리적 보호대책]<br />
					1. 올레 홈캠은 개인정보의 안전한 보호를 위하여 주요 시스템 및 설비에 대하여 외부 전문기관으로부터 정보보호관리체계 인증 등 객관적인 인증을 받아 운영되고 있습니다.<br />
					2. 올레 홈캠은 고객의 개인정보에 대한 접근 및 관리에 필요한 절차 등을 마련하여 소속 직원으로 하여금 이를 숙지하고 준수하도록 하고 있습니다.<br />
					3. 올레 홈캠은 고객의 개인정보를 취급할 수 있는 자를 최소한으로 제한하고 있습니다. 고객의 개인정보를 취급할 수 있는 자는 아래와 같습니다.<br />
					가. 고객을 직•간접적으로 상대하여 마케팅 업무를 수행하는 자<br />
					나. 개인정보관리책임자 및 개인정보관리담당자 등 개인정보 관리 및 개인정보보호 업무를 담당하는 자<br />
					다. 기타 업무상 개인정보의 취급이 불가피한 자<br />
					4. 올레 홈캠은 컴퓨터를 이용하여 고객의 개인정보를 처리하는 경우 개인정보에 대한 접근권한을 가진 담당자를 지정하여 식별부호(ID) 및 비밀번호를 부여하고, 해당 비밀번호를 정기적으로 갱신하고 있습니다.<br />
					5. 개인정보를 취급하는 직원을 대상으로 새로운 보안기술 습득 및 개인정보보호 의무 등에 관해 정기적인 사내 교육 및 외부 위탁교육을 실시하고 있습니다.<br />
					6. 신규직원 채용 시 정보보호서약서 또는 개인정보보호서약서에 서명함으로 직원에 의한 정보유출을 사전에 방지하고 개인정보취급방침에 대한 이행사항 및 직원의 준수여부를 감사하기 위한 내부절차를 마련하여 지속적으로 시행하고 있습니다.<br />
					7. 직원 퇴직 시 비밀유지서약서에 서명함으로 고객의 개인정보를 취급하였던 자가 직무상 알게 된 개인정보를 훼손/침해 또는 누설하지 않도록 하고 있습니다.<br />
					8. 개인정보 취급자의 업무 인수인계는 보안이 유지된 상태에서 철저하게 이뤄지고 있으며, 입사 및 퇴사 후 개인정보 침해사고에 대한 책임을 명확하게 규정하고 있습니다.<br />
					9. 전산실 및 자료보관실 등을 특별 보호구역으로 설정하여 출입 통제 등 출입관리절차를 시행하고 있습니다.
					<br /><br />
					제12장 개인정보 관리책임 부서 및 연락처
					<br /><br />
					올레 홈캠은 고객의 개인정보보호를 가장 중요시하며, 고객의 개인정보가 훼손 • 침해 또는 누설되지 않도록 최선을 다하고 있습니다. 올레 홈캠은 회사의 귀책사유에 의하여 고객의 개인정보에 대한 침해사고가 발생하는 경우에는 관련 법령에 따라 책임을 부담하나, 기술적인 보완조치를 했음에도 불구하고, 해킹 등 기본적인 네트워크상의 위험성에 의해 발생하는 예기치 못한 사고로 인한 정보의 훼손 및 방문자가 작성한 게시물에 의한 각종 분쟁에 관해서는 책임이 없습니다. 고객의 개인정보 보호 관련 문의시 고객센터에서 신속하고 성실하게 답변을 드리도록 하고 있습니다.<br />
					<br /><br />
					1. 개인정보 관리책임 부서 및 연락처<br />
					가. 올레 홈캠 개인정보 관리책임자 : KT 통화사업담당 한준석 상무보<br />
					ㅇ 전화번호 : 100번, 080-237-7979<br />
					ㅇ 이메일 : privacy@kt.com<br />
					나. 올레 홈캠 개인정보 관리담당자 : KT 통화사업담당 조보욱 팀장<br />
					ㅇ 전화번호 : 100번, 080-237-7979<br />
					ㅇ 이메일 : privacy@kt.com<br />
					2. 개인정보 관리책임자 역할<br />
					가. 개인정보보호 관련 주요 지침/정책/제도 수립 시행<br />
					나. 개인정보 유출, 오남용 방지를 위한 내부통제시스템 구축<br />
					다. 개인정보보호 분야 관리실태 감사 및 지도점검<br />
					라. 개인정보보호 교육 계획 수립시행<br />
					마. 개인정보취급방침 수립개정<br />
					바. 개인정보 침해사고 예방대응<br />
					사. 기타 기타정보보호를 위하여 필요한 업무<br />
					3. 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br />
					가. 개인정보침해신고센터 : http://privacy.kisa.or.kr / 118<br />
					나. 경찰청 사이버테러대응센터 : http://www.ctrc.go.kr / 02-393-9112
					<br /><br />
					제13장 개인정보취급방침 고지<br /><br />
					개인정보 취급방침 시행일자 : 2014년 04월 30일
				</p>
			</div>
			<div class="btns">
				<a href="#" class="btn btn_bg w100p">확인</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>