<!doctype html>
<html lang="ko">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=3.0">
	<meta charset="UTF-8">
	<title> olleh HomeCam | 고객센터 개인정보 취급방침 5.3.7 </title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div id="wrap">
	<div class="contents">
		<div class="notify  login_alert">
			<div class="virtual_img"><img src="../images/common/logo_olleh.png" width="35.823170731707317073170731707317%" height="auto" border="0" alt="olleh로고"></div>
			<p class="message_title">상품 가입 정보가 없습니다.<span class="message_txt">올레 홈캠은 상품 가입 후 사용이 가능합니다.</span></p>
			<div class="layerWrap">
				<div class="layer_alert">
					<p class="context">올레 홈캠은 댁외에서 스마트폰으로<br />우리집을  모니터링 할 수 있는<br />kt 프리미엄 보안 서비스 입니다.</p>
					<div>
						<ul class="twoColumn">
							<li><a href="">가입문의<span>지역번호 + 100번</span></a></li>
							<li><a href="">상품 상세 안내</a></li>
						</ul>
					</div>
				</div>
			</div>
			<p class="never_open"><input type="checkbox" name="close" id="close_today" onclick="javascript:closeWin('div_laypopup', 1);"/><label for="close_today">다시 보지 않기</label></p>
			<div class="btns" style="padding-top:0">
				<a href="#" class="btn btn_bg w100p">확인</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>