<!doctype html>
<html lang="ko">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=3.0">
	<meta charset="UTF-8">
	<title> olleh HomeCam | 작업공지 1.2 </title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div id="wrap">
	<div class="contents">
		<div class="notify maintenance">
			<div class="virtual_img"><img src="../images/common/ico_exc.png" width="29.26829268292683%" height="auto" border="0" alt=""></div>
			<p class="message_title">서비스 점검중 입니다.</p>
			<p>안녕하세요. 항상 올레 홈캠을 이용해 주시는 고객님께 감사드립니다. 보다 안정적인 서비스 제공을 위하여 홈모니터링 시스템 점검이 실시됩니다.</p>
			<ul>
				<li class="bu">점검 일시 : 2014.07.15 01:00 ~ 06:00</li>
				<li class="bu">서비스 영향 : 서비스 이용 중지</li>
				<li class="caution">※ 시간은 작업 상황에 따라 변동될 수 있습니다.</li>
			</ul>
			<p>이용에 불편을 드려 죄송합니다.<br />보다 나은 서비스로 다가가겠습니다.<br />감사합니다.</p>
			<div class="btns">
				<a href="#" class="btn btn_bg w100p">확인</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>